In [1]:
import pandas as pd
df=pd.read_csv('E:\Dataset\Emp_reimb.csv')
df.head(10)

,Year,Type_of_yr,Emp_ID,Income,Other_Income,Overtime,Total_Income,Health_Insurance,Retirement,Other_Benefits,Total_Benefits,Total_Reimbursement
0,2015,Financial,42865,92288.22,267.45,270.45,92826.12,12500.56,20703.20,7605.75,40809.51,133635.63
1,2015,Calendar,28253,1466.38,0.00,350.23,1816.61,442.03,3.00,141.59,586.62,2403.23
2,2018,Financial,30664,76536.95,10855.94,13586.72,100979.61,12464.61,18636.19,8011.41,39112.21,140091.82
3,2018,Financial,19482,45659.88,1625.37,3.00,47288.25,0.00,10084.20,3936.63,14020.83,61309.08
4,2017,Financial,7183,41832.00,0.00,6.00,41838.00,5908.52,7621.60,3254.50,16784.62,58622.62
5,2017,Calendar,50436,74132.00,1443.42,4.00,75579.42,12888.34,14855.23,6233.85,33977.42,109556.84
6,2018,Financial,35659,101535.10,0.00,8.00,101543.10,12512.55,21650.32,7915.08,42077.95,143621.05
7,2018,Calendar,38092,109163.02,4366.49,4.00,113533.51,13054.94,24252.92,9076.15,46384.01,159917.52
8,2015,Financial,27247,66232.32,2069.97,6810.80,75113.09,13259.64,20284.69,5877.41,39421.74,114534.83
9,2018,Financial,46326,53979.94,25.00,7207.89,61212.83,12512.55,11517.86,5028.71,29059.12,90271.95

In [2]:
df1=df.copy()

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49794 entries, 0 to 49793
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 49794 non-null  int64
 1   Type_of_yr           49794 non-null  object
 2   Emp_ID               49794 non-null  int64
 3   Income               49794 non-null  float64
 4   Other_Income         49794 non-null  float64
 5   Overtime             49794 non-null  float64
 6   Total_Income         49794 non-null  float64
 7   Health_Insurance     49794 non-null  float64
 8   Retirement           49794 non-null  float64
 9   Other_Benefits       49794 non-null  float64
 10  Total_Benefits       49794 non-null  float64
 11  Total_Reimbursement  49794 non-null  float64
dtypes: float64(9), int64(2), object(1)
memory usage: 4.6+ MB

In [4]:
df1.isnull().sum()

Year                   0
Type_of_yr             0
Emp_ID                 0
Income                 0
Other_Income           0
Overtime               0
Total_Income           0
Health_Insurance       0
Retirement             0
Other_Benefits         0
Total_Benefits         0
Total_Reimbursement    0
dtype: int64

In [5]:
df1.drop(columns=['Emp_ID'],inplace=True)

In [6]:
df1.shape

(49794, 11)

In [7]:
df1.describe()

,Year,Income,Other_Income,Overtime,Total_Income,Health_Insurance,Retirement,Other_Benefits,Total_Benefits,Total_Reimbursement
count,49794.000000,49794.000000,49794.000000,49794.000000,49794.000000,49794.000000,49794.000000,49794.000000,49794.000000,49794.000000
mean,2016.542013,63412.242050,3725.119205,4382.829359,71520.190613,8932.934546,12972.699476,4669.307188,26574.941210,98095.131823
std,1.183712,44753.458883,7486.642061,11100.032711,52228.329948,4890.384130,9803.285867,3785.813122,16804.219299,67791.568974
min,2015.000000,0.000000,0.000000,2.000000,2.000000,0.000000,0.270000,0.000000,2.990000,5.310000
25%,2015.000000,23752.425000,0.000000,5.000000,25635.925000,4339.617500,3680.890000,1617.325000,9832.992500,36388.335000
50%,2017.000000,62628.605000,649.385000,8.000000,68007.105000,12000.500000,13181.170000,4377.750000,30320.645000,98133.970000
75%,2018.000000,93124.830000,4494.062500,2692.230000,103031.792500,12801.790000,19610.367500,6864.430000,38741.512500,141968.395000
max,2018.000000,507831.600000,199112.350000,208671.820000,507838.600000,21291.180000,105055.980000,34108.750000,141046.640000,648885.240000

In [8]:
df1.dtypes

Year                     int64
Type_of_yr              object
Income                 float64
Other_Income           float64
Overtime               float64
Total_Income           float64
Health_Insurance       float64
Retirement             float64
Other_Benefits         float64
Total_Benefits         float64
Total_Reimbursement    float64
dtype: object

In [9]:
df1.Type_of_yr.value_counts()

Type_of_yr
Financial    28544
Calendar     21250
Name: count, dtype: int64

In [10]:
df1.isnull().sum()

Year                   0
Type_of_yr             0
Income                 0
Other_Income           0
Overtime               0
Total_Income           0
Health_Insurance       0
Retirement             0
Other_Benefits         0
Total_Benefits         0
Total_Reimbursement    0
dtype: int64

In [11]:
# df1_num1=df1_num.iloc[:,1:-1]
# df1_num1.head(3)

In [12]:
# df1_num1.Income.mean()

In [13]:
pip install -U scikit-learn

Requirement already satisfied: scikit-learn in c:\users\sozha\appdata\local\programs\python\python311\lib\site-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\sozha\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.25.2)
Requirement already satisfied: scipy>=1.5.0 in c:\users\sozha\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.11.2)
Requirement already satisfied: joblib>=1.1.1 in c:\users\sozha\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\sozha\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (3.2.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [14]:
# from sklearn.preprocessing import MinMaxScaler
# sc=MinMaxScaler()
# df1_num1_sc=pd.DataFrame(sc.fit_transform(df1_num1),columns=df1_num1.columns)
# df1_num1_sc.head(3)

In [15]:
# df1.Type_of_yr

In [16]:
df1['Type_of_yr'].unique()

array(['Financial', 'Calendar'], dtype=object)

In [17]:
from sklearn.preprocessing import LabelEncoder

In [18]:
label_encode=LabelEncoder()
df1["Type_of_yr"]=label_encode.fit_transform(df1["Type_of_yr"])

In [19]:
df1["Type_of_yr"].value_counts()

Type_of_yr
1    28544
0    21250
Name: count, dtype: int64

In [20]:
df1["Type_of_yr"].head()

0    1
1    0
2    1
3    1
4    1
Name: Type_of_yr, dtype: int32

In [21]:
X = df1.drop(columns=['Total_Benefits'], axis=1)
y = df1['Total_Benefits']

In [22]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((34855, 10), (14939, 10), (34855,), (14939,))

In [23]:
from sklearn.preprocessing import MinMaxScaler
sc=MinMaxScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [25]:
x_test

array([[6.66666667e-01, 1.00000000e+00, 1.61451255e-03, ...,
        4.12067635e-05, 1.17301279e-03, 1.13660256e-03],
       [1.00000000e+00, 1.00000000e+00, 2.05565049e-01, ...,
        2.28759121e-01, 1.87272474e-01, 2.33228120e-01],
       [3.33333333e-01, 1.00000000e+00, 4.86206254e-01, ...,
        4.43260551e-01, 3.13486422e-01, 4.50937926e-01],
       ...,
       [0.00000000e+00, 1.00000000e+00, 2.26682758e-01, ...,
        2.40796930e-01, 1.68294646e-01, 2.11674751e-01],
       [0.00000000e+00, 1.00000000e+00, 1.78361477e-01, ...,
        1.89478510e-01, 1.40889361e-01, 1.84794657e-01],
       [6.66666667e-01, 0.00000000e+00, 9.67368612e-03, ...,
        8.38187832e-03, 7.81822846e-03, 9.51720207e-03]])

In [ ]:
y_test.head()

In [ ]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

In [ ]:
x_train.head(10)

In [ ]:
pip install statsmodels

In [ ]:
!pip install numpy
import numpy as np

In [ ]:
df1.head()

In [36]:
import statsmodels.api as sm

In [37]:
MLR_model1=sm.OLS(y_train,x_train).fit()
print(MLR_model1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         Total_Benefits   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 9.977e+27
Date:                Mon, 04 Sep 2023   Prob (F-statistic):               0.00
Time:                        14:38:51   Log-Likelihood:             5.8891e+05
No. Observations:               34855   AIC:                        -1.178e+06
Df Residuals:                   34846   BIC:                        -1.178e+06
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1         -3.506e-11   1.52e-10     -0.231      0.817   -3.32e-10    2.62e-10
x2         -1.553e-11   1.21e-10     -0.128      0.898   -2.53e-10    2.22e-10
x3          1.297e+04   7.95e-06   1.63e+09      0.000     1.3e+04     1.3e+04
x4          8229.8418   5.05e-06   1.63e+09      0.000    8229.842    8229.842
x5          8624.8774   5.29e-06   1.63e+09      0.000    8624.877    8624.877
x6          1.888e+04   1.16e-05   1.63e+09      0.000    1.89e+04    1.89e+04
x7          2.318e+04   1.16e-06      2e+10      0.000    2.32e+04    2.32e+04
x8          7.214e+04   3.61e-06      2e+10      0.000    7.21e+04    7.21e+04
x9          3.714e+04   1.86e-06      2e+10      0.000    3.71e+04    3.71e+04
x10        -4.268e+04   2.62e-05  -1.63e+09      0.000   -4.27e+04   -4.27e+04
==============================================================================
Omnibus:                      963.207   Durbin-Watson:                   0.632
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              783.081
Skew:                          -0.292   Prob(JB):                    9.04e-171
Kurtosis:                       2.555   Cond. No.                     6.60e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 8.84e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [26]:
from sklearn.linear_model import LinearRegression

In [27]:
MLR_model1=LinearRegression()
MLR_model1.fit(x_train,y_train)

LinearRegression()

In [28]:
prediction=MLR_model1.predict(x_test)

In [32]:
from sklearn.metrics import mean_squared_error,r2_score

In [30]:
mse = mean_squared_error(y_test, prediction)

In [31]:
mse

2.4349676483325893e-21

In [33]:
r2_score = r2_score(prediction, y_test)
r2_score

1.0

In [34]:
y_test

11734       43.01
4867     34017.08
21215    53103.34
28283    46702.40
2493     21609.04
           ...
11840    14553.29
38478    38087.25
11988    30602.14
44683    29859.58
2109      1539.93
Name: Total_Benefits, Length: 14939, dtype: float64

In [35]:
prediction

array([4.301000e+01, 3.401708e+04, 5.310334e+04, ..., 3.060214e+04,
       2.985958e+04, 1.539930e+03])